#page-create-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

.map-container {
    margin: 0 0 4rem;
}

.map-container .leaflet-container {
    border-radius: 20px 20px 0 0;
}

.map-container footer {
    background: #F5F8Fa;
    border-radius: 0 0 20px 20px;
}




/*Código transerio para o arquivo "forms.css", estou deixando este aqui para caso eu erre futuramente
(Comentário)Editando a raíz do formulário
form {
    width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #d3e2e5;

  border-radius: 2rem;
  overflow: hidden;

  padding: 8rem;
}

Editando o espaço e tamanho dos espaços dos "Dados" e "Visitações
fieldset + fieldset {
    margin-top: 8rem;
}

fieldset {
    border: 0;
}

/

(Comentário)Editando os subtítulos(Comentário)
fieldset legend {
    width: 100%;
    
    font-size: 3.2rem;
    line-height: 1.5;
    
    color: #5c8599;
    font-weight: 700;

    border-bottom: 1px solid #d3ede5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;
}

.input-block + .input-block {
    margin-top: 2.4rem;

}